<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
    <nav class="nav-secondary" aria-label="次要">
        <div class="wrap">
            <ul class="genesis-nav-menu">
                <li><a href="https://www.facebook.com/freegroup">bilibili</a></li>
                <li><a href="https://www.facebook.com/freegroup">weibo</a></li>
            </ul>
        </div>
    </nav>
    <footer>
        <p>© 2018-2019.<a href="http://www.yangqq.com" target="_blank">独白</a> . All Rights Reserved. 湘ICP备15006988号-1</p>
    </footer>
</div>
</html>