<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--用于百度统计-->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ceacb4ccfb8935f607579f91d89c324e";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<head th:fragment="header">
    <meta charset="utf-8">
    <title>独白_个人博客 - 一个后端开发的个人博客网站</title>
    <meta name="keywords" content="个人博客,个人博客,个人博客模板" />
    <meta name="description" content="个人博客，上海打拼3年的程序员，没什么简述，记录一下心情。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/base/images/logo.ico" rel="icon" type="image/x-ico">
    <link href="../layuiadmin/layui/css/layui.css" rel="stylesheet">
    <link href="../assets/base/css/base.css" rel="stylesheet">
    <link href="../assets/base/css/m.css" rel="stylesheet">
    <script src="../assets/base/js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../assets/base/js/common.js"></script>
    <script type="text/javascript" src="../assets/base/js/cookie.js"></script>
    <!--[if lt IE 9]>
    <script src="../assets/base/js/modernizr.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../layuiadmin/layui/layui.js"></script>
</head>
</html>